
body{

  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  background-image:url("images/scrapbook.jpg");
  text-align: center;
}

.paragraph{
  text-align: center;
  padding: 30px;
  padding-right: 100px;
  padding-left: 100px;
  margin: 10px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

