/*START border-bpx fit*/
html{
	box-sizing:border-box;

}
*, *:before, *:after{
	box-sizing: inherit;
}
/*END box-border fix*/


body{
	padding: 0;
	margin: auto;
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: normal;
}
 
/*
h1,h2,h3,h4,h5,h6{
	text-transform: uppercase;
}
*/

/*Add padding to all of the .container child elements*/

.container {
  color:white;
	display:flex; /* */
	flex-wrap:wrap;
	max-width: 1000px;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: auto;
}

header {
  /*
  background: skyblue;
  */
  flex: 1 0 100%; /* grow on, shrink off, span width of browser */
  order: 1; /* display order regardless of html structure */
}
main {
  /*
  background: slategray;
  */
  flex: 1 1 500px; 
  order: 3;
}

nav {
  /*
  background: cadetblue;
  */
  text-align: center;
  flex: 1 0 200px; /* grow but do not shrink less than basis */
  order: 2;
  /*background-color:#97bda0;*/
  position: sticky;
  top:0;
}
ul,li {
  list-style-type: none;
}
aside {
  /*
  background: seagreen;
  */
  flex: 1 0 200px; /* grow but do not shrink less than basis */
  order: 4;
}

footer {
  /*
  background: darkslateblue;
  */
  flex: 1 0 100%; /* grow on, shrink off, span width of browser */
  order: 5;
}