/*border-box fix*/
html{
	box-sizing: border-box;
}

*, *:before *:after{
	box-sizing: inherit;
}

body{
	padding:0;
	margin:0;
	background-color: #FFFFFF;
}
h1,h2,h3,h4,h5{
	text-transform:uppercase;
}

.container{
	background-color:white;
	display: grid;
	grid-template-columns: repeat(12, minmax(0, 1fr));
	width: 80;
	margin: 0 auto;
}
.container > *{
	padding: 20px;
}
header{
	background-color: skyblue;
	grid-column: 1 / 13;
}
main{
	background-color: slategray;
	grid-column: 4 / 10;
}
nav{
	background-color: cadetblue;
	grid-column: 1 / 4 ;

}
aside{
	background-color: seagreen;
	grid-column: 10 / 13;
}

main,nav,aside{
	grid-row: 2 / 4;
}
footer{
	background-color: darkslateblue;
	grid-column: 1 / 13;
}